html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-color: #141922;
    flex-grow: 1;
    display: flex;
}

footer {
    background-color: #282828;
    height: 100px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

main .side-bar {
    background-color: black;
    width: 200px;
    flex-grow: 0;
}

main .main-content {
    flex-grow: 1;
}

.main-content .content-upgrade {
    background-color: #080b12;
    height: 70px;
}