html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

img {
    max-width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

main {
    background-color: #141922;
    flex-grow: 1;
    display: flex;
}

footer {
    background-color: #282828;
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: 10px;
}

main .side-bar {
    background-color: black;
    width: 250px;
    flex-shrink: 0;
    height: calc( 100vh - 100px );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .main-content {
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
}

.main-content .content-upgrade {
    background-color: #080b12;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

/* footer */

.info-music {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.info-music .image-info {
    min-width: 50px;
    max-width: 50px;
}

.info-music .name-music {
    display: flex;
    flex-direction: column;
}

.info-music .icon-info-music {
    padding-left: 20px;
    color: #7d7d7d;
    font-size: 18px;
}

.icon-info-music i {
    padding: 0 5px;
}

.color-subtitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon-info-music .fa-heart:hover {
    color: white;
}

.icon-info-music .fa-folder:hover {
    color: white;
}

.name-music .color-subtitle  {
    color: #7d7d7d;
    font-weight: bold;
}

.name-music .font-title {
    font-weight: bold;
    font-size: 15px;
}

.time-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 15px 0;
    min-width: 300px;

}

.time-music .play-bar {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.play-bar .fa-play-circle {
    font-size: 35px;
    padding: 0 12px;
}

.play-bar .fa-play-circle:hover {
    font-size: 40px;
}

.time-bar {
    display: flex;
    width: 90%;
}

.time-bar-position {
    width: 100%;
    position: relative;
    display: inline-block;
}

.first-time-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 10px;
}

.second-time-bar {
    width: 30%;
    background-color: #c1c1c1;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 45%;
}

.ball-time-bar {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 20%;
    left: 28%;
}

.option-music {
    display: flex;
    width: 30%;
    gap: 0 20px;
    align-items: center;
    justify-content: flex-end;
}

.option-music .container-option {
    display: flex;
    gap: 0 20px;
    align-items: center;
    width: 250px;
}

.time-bar span {
    padding: 0 20px;
}

.time-bar-small {
    width: 100%;
}

.time-small {
    width: 100%;
}

.option-music i {
    font-size: 18px;
}

.second-time-bar:hover {
    background-color: lightgreen;
}

/* side-bar */

.side-bar {
    padding: 0 8px;
    color: #a3a3a3;
    font-weight: bold;
}

.side-bar img {
    padding: 15px 0;
    width: 190px;
}

ul li {
    padding: 7px 0;
    font-size: 14px;
}

.widget-side-bar i {
    font-size: 25px;
}

li .icon-container {
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 8px;
}

.widget-side-bar .title-side-bar {
    color: white;
    padding: 10px 5px;
    font-size: 16px;
    text-transform: uppercase;
}

.playlist {
    padding: 0 5px;
    list-style: none;
}

.playlist .fa-plus {
    color: black;
    background-color: #a3a3a3;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px
}

.image-profile img {
    width: 100%;
    height: 50px;
}

.download-account p {
    display: inline-block;
    margin-left: 5px;
}

.download-account {
    margin: 0 5px;
}

.profile-account {
    padding-bottom: 10px;
}

.profile-account p {
    display: inline-block;
    color: white;
}

.profile-account .image-profile {
    background-color: #a3a3a3;
    display: inline-block;
    width: 30px;
    height: 40px;
    border-radius: 100%;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 5px;
}

.download-account:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #a3a3a3;
    width: 100%;
    margin: 15px auto;
}