html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

main {
    background-color: #141922;
    flex-grow: 1;
    display: flex;
}

footer {
    background-color: #282828;
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: 10px;
}

main .side-bar {
    background-color: black;
    width: 250px;
    flex-shrink: 0;
    height: calc( 100vh - 100px );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
}

main .main-content {
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    height: calc( 100vh - 100px );
}

.main-content .content-upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    background-color: #080b12;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

/* footer first section */

.info-music {
    flex-basis: 250px;
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.info-music .image-info {
    width: 50px;
    flex-shrink: 0;
}

.info-music .name-music {
    display: flex;
    flex-direction: column;
}

.info-music .icon-info-music {
    padding-left: 10px;
    color: #7d7d7d;
    font-size: 18px;
}

.icon-info-music i {
    padding: 0 5px;
}

.color-subtitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.name-music span:hover {
    color: white;
}

.icon-info-music .fa-heart:hover {
    color: white;
}

.icon-info-music .fa-folder:hover {
    color: white;
}

.name-music .color-subtitle  {
    color: #7d7d7d;
    font-weight: bold;
}

.name-music .font-title {
    font-weight: bold;
    font-size: 15px;
}

/* footer second section */

.time-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 15px 0;
    flex-basis: 40%;
}

.time-music .play-bar {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.play-bar .fa-play-circle {
    font-size: 35px;
    padding: 0 12px;
}

.play-bar .fa-play-circle:hover {
    font-size: 40px;
}

.time-bar {
    display: flex;
    width: 60%;
}

.time-bar-position {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.first-time-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 10px;
}

.second-time-bar {
    width: 30%;
    background-color: #c1c1c1;
    height: 5px;
    border-radius: 10px;
}

.second-time-bar:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    left: 30%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: none;
}

/* footer third section */

.option-music {
    display: flex;
    flex-basis: 250px;
    gap: 0 20px;
    align-items: center;
    margin-right: -30px;
}

.time-bar span {
    padding: 0 20px;
}

.time-bar-small {
    width: 80%;
}

.time-bar-position-small {
    min-width: 50px;
}

.option-music i {
    font-size: 18px;
}

.second-time-bar:hover {
    background-color: #adff2f;
}

.second-time-bar:hover:after {
    display: block;
}

/* side-bar */

.side-bar {
    padding: 0 8px;
    color: #a3a3a3;
    font-weight: bold;
}

.widget-side-bar {
    padding-left: 10px;
    overflow-y: auto;
}

.icon-side-bar {
    list-style: none;
}

.side-bar img {
    padding: 15px 0;
    width: 190px;
}

ul li {
    padding: 7px 0;
    font-size: 14px;
}

.widget-side-bar i {
    font-size: 25px;
}

li .icon-container {
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 8px;
}

.widget-side-bar .title-side-bar {
    color: white;
    padding: 10px 5px;
    font-size: 16px;
    text-transform: uppercase;
}

.playlist {
    padding: 0 5px;
    list-style: none;
}

.playlist .fa-plus {
    color: black;
    background-color: #a3a3a3;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px
}

.image-profile img {
    width: 100%;
    height: 65px;
    margin-top: -15px;
}

.download-account p {
    display: inline-block;
    margin-left: 5px;
}

.download-account {
    margin: 0 5px;
}

.profile-account {
    padding-bottom: 10px;
}

.profile-account p {
    display: inline-block;
    color: white;
}

.profile-account .image-profile {
    background-color: #a3a3a3;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 5px;
}

.download-account:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #a3a3a3;
    width: 100%;
    margin: 15px auto;
}

.green-bar {
    background-color: #adff2f;
    width: 3px;
    height: 27px;
    display: inline-block;
    margin-left: -10px;
    margin-right: 4px;
    vertical-align: top;
}

.icon-side-bar .fa-home {
    color: white;
    cursor: pointer;
}

.bottom-account .download-account p:hover {
    color: white;
    cursor: pointer;
}

.active, .side-bar span:hover {
    color: white;
    cursor: pointer;
}

.side-bar .playlist li:hover {
    color: white;
    cursor: pointer;
}

.side-bar .fa-plus:hover{
    background-color: white;
}

/* content-upgrade */

.main-content .content-upgrade .upgrade {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid white;
    padding: 12px 32px;
    border-radius: 30px;
}

.upgrade:hover {
    font-size: 15px;
    cursor: pointer;
}

/* main */

.main-content {
    color: white;
    padding-top: 90px;
}

.list-main-content {
    color: #a3a3a3;
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
}

.list-main-content li:first-child::after {
    content: '';
    display: block;
    background-color: #adff2f;
    height: 2px;
    width: 50%;
    margin: 3px auto;
}

.main-album {
    padding: 20px 30px;
    display: flex;
    gap: 15px;
}

.main-album .card {
    width: 17%;
}

.title-main-album {
    font-size: 25px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-top: 15px;
}

.description-album {
    text-align: center;
}

.description-album .title-album {
    padding-bottom: 5px;
    font-size: 16px;
}

.description-album .subtitle-album {
    color: #a3a3a3;
    font-weight: bold;
}

.card .photo-album {
    width: 100%;
    padding-bottom: 15px;
    position: relative;
}

.subtitle-main-album {
    color: #a3a3a3;
    padding-left: 30px;
    padding-bottom: 7px;
    font-weight: bold;
}

.border-figure img {
    border-radius: 999px;
}

.main-album .card-2 {
    width: 15%;
}

.list-main-content a:hover {
    color: white;
}

.card .photo-album img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.photo-album .fa-play-circle {
    font-size: 80px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.photo-album:hover .fa-play-circle {
    display: block;
    z-index: 1;
    cursor: pointer;
}

/* media query */

